head
  meta(charset='utf-8')
  title Frontend template
  meta(name='author' content='Andrey Semenoff')
  meta(name='description' content='Project builder')
  meta(name='keywords' content='Project builder')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  link(rel="shortcut icon" type="image/png" href="img/favicon/favicon16x16.png")
  link(rel="shortcut icon" type="image/png" href="img/favicon/favicon96x96.png")
  link(rel='stylesheet' href='css/vendor.css')
  link(rel='stylesheet' href='css/main.css')
  script(src='js/vendor.js' defer)
  script(src='js/main.js' defer)
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->